html, body, section {
  height: 100%;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #b6701e;
}

.container {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.half {
  display: flex;
  flex: 1;
}

.half span {
  align-self: flex-end;
}

.left {
  background-color: #ff9e2c;
  text-align: left;
}

.right {
  background-color: #b6701e;
}

.right span {
  margin-left: auto;
}


.overlay {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  pointer-events: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.damage {
  background-image: url("../img/damage-vertical.png");
}

.horror {
  background-image: url("../img/horror.png");
}

