@font-face {
  font-family: "arkham";
  src: url("../font/arkham.woff") format('woff');
}

html, body  {
  height: 1334px
  width: 750px;
}

body {
  font-family: arkham;
  font-size: 3.25rem;
  line-height: 150%;
  text-align: center;
  background-image: url("../img/background.png");
}

#header  {
  height: 200px;
}

#advance  {
  display: flex;
}

#advance div {
  flex: 1;
}

#chaos {
  font-size: 9.25rem;
  height: 600px;
}

#counters  {
  display: flex;
}

#counters div {
  flex: 1;
}

.clicker {
  width: 600px;
  height: 600px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.counter {
  width: 220px;
  height: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.half {
  display: flex;
  flex: 1;
}

.half span {
  align-self: flex-end;
}

.left {
  text-align: left;
}

.right {
}

.right span {
  margin-left: auto;
}

.overlay {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  pointer-events: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.agenda {
  background-image: url("../img/doom.png");
}

.act {
  background-image: url("../img/clue.png");
}

.damage {
  background-image: url("../img/damage-vertical.png");
}

.resource {
  background-image: url("../img/resource.png");
}

.horror {
  background-image: url("../img/horror.png");
}

