@font-face {
  font-family: "arkham";
  src: url("../font/arkham.woff") format('woff');
}

* {
  /* Prevent any object from being highlighted upon touch event*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body  {
  height: 100%
  width: 100%;
}

body {
  font-family: arkham;
  background-image: url("../img/background.png");
  background-size: auto auto;
  background-repeat: no-repeat;
}

#advance  {
  display: flex;
}

#advance div {
  flex: 1;
}

#chaos {
  align-items: center;
  justify-content: center;
  display: flex;
}

#counters  {
  display: flex;
}

#counters div {
  flex: 1;
}

.clicker {
  font-size: 5.25rem;
  height: 130px;
  margin: auto auto;
  text-align: center;
  flex: 1;
}

.counter {
  font-size: 3.25rem;
  width: 140px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  background-size: auto 50%;
  background-repeat: no-repeat;
}

.half {
  display: flex;
  flex: 1;
}

.half span {
  align-self: flex-end;
}

.left {
  text-align: left;
}

.right {
}

.right span {
  margin-left: auto;
}

.overlay {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  pointer-events: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.agenda {
  background-image: url("../img/doom.png");
}

.act {
  background-image: url("../img/clue.png");
}

.damage {
  background-image: url("../img/damage-vertical.png");
}

.resource {
  background-image: url("../img/resource.png");
}

.horror {
  background-image: url("../img/horror.png");
}

